
html,
body {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.numbersButtons {
    display: flex;
    flex-wrap: wrap;
    width: 219px;
    height: 300px;
    justify-content: center;
}
button {
    width: 60px;
    height: 60px;
    margin: 5px;
}

.operatorsButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;
    height: 300px;
}
.calculatorScreen {
    width: 390px;
    height: 100px;
}
.buttonsContainer {
    display: flex;
}
.calculatorScreen,
.operatorsButtons,
.numbersButtons {
    border: solid black 1px;
}